<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiade.massageshopmanagement.mapper.MemberMapper">

    <select id="selectMembersByFilters" resultType="com.jiade.massageshopmanagement.model.Member">
    SELECT *
    FROM member
    <where>
      <if test="keyword != null and keyword != ''">
        AND (name LIKE CONCAT('%', #{keyword}, '%') OR phone LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="minBalance != null">
        AND balance &gt;= #{minBalance}
      </if>
      <if test="maxBalance != null">
        AND balance &lt;= #{maxBalance}
      </if>
      <if test="startDate != null">
        AND created_time &gt;= #{startDate}
      </if>
      <if test="endDate != null">
        AND created_time &lt;= #{endDate}
      </if>
    </where>
    ORDER BY
        <choose>
            <when test="sortBy == 'name'">
                CONVERT(name USING gbk) ${order}
            </when>
            <otherwise>
                ${sortBy} ${order}
            </otherwise>
        </choose>
    LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countMembersByFilters" resultType="int">
    SELECT COUNT(*)
    FROM member
    <where>
      <if test="keyword != null and keyword != ''">
        AND (name LIKE CONCAT('%', #{keyword}, '%') OR phone LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="minBalance != null">
        AND balance &gt;= #{minBalance}
      </if>
      <if test="maxBalance != null">
        AND balance &lt;= #{maxBalance}
      </if>
      <if test="startDate != null">
        AND created_time &gt;= #{startDate}
      </if>
      <if test="endDate != null">
        AND created_time &lt;= #{endDate}
      </if>
    </where>
    </select>

    <select id="selectDeletedMembersByFilters" resultType="com.jiade.massageshopmanagement.model.Member">
      SELECT *
      FROM member
      WHERE is_deleted = 1
      <if test="keyword != null and keyword != ''">
          AND (name LIKE CONCAT('%', #{keyword}, '%') OR phone LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="minBalance != null">
          AND balance &gt;= #{minBalance}
      </if>
      <if test="maxBalance != null">
          AND balance &lt;= #{maxBalance}
      </if>
      <if test="startDate != null">
          AND created_time &gt;= #{startDate}
      </if>
      <if test="endDate != null">
          AND created_time &lt;= #{endDate}
      </if>
      ORDER BY
        <choose>
            <when test="sortBy == 'name'">
                CONVERT(name USING gbk) ${order}
            </when>
            <otherwise>
                ${sortBy} ${order}
            </otherwise>
        </choose>
    LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countDeletedMembersByFilters" resultType="int">
      SELECT COUNT(*)
      FROM member
      WHERE is_deleted = 1
      <if test="keyword != null and keyword != ''">
          AND (name LIKE CONCAT('%', #{keyword}, '%') OR phone LIKE CONCAT('%', #{keyword}, '%'))
      </if>
      <if test="minBalance != null">
          AND balance &gt;= #{minBalance}
      </if>
      <if test="maxBalance != null">
          AND balance &lt;= #{maxBalance}
      </if>
      <if test="startDate != null">
          AND created_time &gt;= #{startDate}
      </if>
      <if test="endDate != null">
          AND created_time &lt;= #{endDate}
      </if>
    </select>

    <update id="logicalDeleteMember" parameterType="long">
        UPDATE member
        SET is_deleted = 1
        WHERE id = #{memberId} AND is_deleted = 0
    </update>

    <update id="logicalRestoreMember" parameterType="long">
        UPDATE member
        SET is_deleted = 0
        WHERE id = #{memberId} AND is_deleted = 1
    </update>

<!--    useGeneratedKeys="true" keyProperty="id" to automatically retrieve the generated ID and set the member.id with generated ID-->
    <insert id="insertMember" parameterType="com.jiade.massageshopmanagement.model.Member" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO member (name, phone, balance, description)
      VALUES (#{name}, #{phone}, #{balance}, #{description})
    </insert>

    <insert id="insertRecharge" parameterType="com.jiade.massageshopmanagement.model.MemberRecharge">
        INSERT INTO member_recharge (member_id, amount, remark, recharge_time)
        VALUES (#{memberId}, #{amount}, #{remark}, #{rechargeTime})
    </insert>

    <update id="updateMemberBalance">
        UPDATE member
        SET balance = balance + #{amount}
        WHERE id = #{memberId}
    </update>

    <update id="updateMemberInfo">
        UPDATE member
        SET
            name = #{member.name},
            phone = #{member.phone},
            balance = #{member.balance},
            description = #{member.description}
        WHERE id = #{memberId}
    </update>

    <select id="selectRechargeRecordsByFilters" resultType="com.jiade.massageshopmanagement.model.RechargeRecord">
      SELECT
        mr.id,
        mr.member_id,
        m.name AS member_name,
        m.phone AS member_phone,
        mr.amount,
        mr.recharge_time,
        mr.remark
      FROM member_recharge mr
      LEFT JOIN member m ON mr.member_id = m.id
      <where>
        <if test="keyword != null and keyword != ''">
          AND (m.name LIKE CONCAT('%', #{keyword}, '%')
          OR m.phone LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="minAmount != null">
          AND mr.amount &gt;= #{minAmount}
        </if>
        <if test="maxAmount != null">
          AND mr.amount &lt;= #{maxAmount}
        </if>
        <if test="startDate != null">
          AND mr.recharge_time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          AND mr.recharge_time &lt;= #{endDate}
        </if>
      </where>
      ORDER BY
        <choose>
            <when test="sortBy == 'name'">
                CONVERT(m.name USING gbk) ${order}
            </when>
            <otherwise>
                ${sortBy} ${order}
            </otherwise>
        </choose>
      LIMIT #{offset}, #{size}
    </select>

    <select id="countRechargeRecordsByFilters" resultType="int">
        SELECT COUNT(*)
        FROM member_recharge mr
        LEFT JOIN member m ON mr.member_id = m.id
        <where>
            <if test="keyword != null and keyword != ''">
                AND (m.name LIKE CONCAT('%', #{keyword}, '%') OR m.phone LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="minAmount != null">
                AND mr.amount &gt;= #{minAmount}
            </if>
            <if test="maxAmount != null">
                AND mr.amount &lt;= #{maxAmount}
            </if>
            <if test="startDate != null">
                AND mr.recharge_time &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND mr.recharge_time &lt;= #{endDate}
            </if>
        </where>
    </select>

    <update id="modifyRechargeRecord">
        UPDATE member_recharge
        SET
            amount = #{recharge.amount},
            remark = #{recharge.remark}
        WHERE id = #{recordId}
    </update>

    <select id="selectById" resultType="com.jiade.massageshopmanagement.model.Member">
        SELECT id, name, phone
        FROM member
        WHERE id = #{id};
    </select>
    
    <select id="selectRechargeRecordById" resultType="com.jiade.massageshopmanagement.model.RechargeRecord">
        SELECT
            id,
            member_id,
            amount,
            remark,
            recharge_time
        FROM
            member_recharge
        WHERE
            id = #{id}
            LIMIT 1;
    </select>

</mapper>